<!DOCTYPE html>

{% extends "app/basebuyer.html" %} 
{% block content %}
{% load static %}
<html>
<body>
    <h2>Create a NEW Group Order</h2>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_first_name" class="control-group"> <label for="id_first_name" class="control-label requiredField">
        <br> Creator's Username: {{ username }}</br>
        <br> Hall: {{ hall }} </br>
        <p> </p>
        Shop Name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="shopname" maxlength="64" class="textinput textInput" required="" id="id_shopname"> </div> </div> <div id="div_id_shopname" class="control-group"> <label for="id_shopname" class="control-label requiredField">
        Order Date 
        <br>(Please input in YYYY-MM-DD format eg. 2022-03-21)<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="order_date" maxlength="64" class="textinput textInput" required="" id="id_order_date"> </div> </div> <div id="div_id_order_date" class="control-group"> <label for="id_order_date" class="control-label requiredField">
        Order Closing Time 
        <br>(Please input in HH:MM:SS format eg. 19:30:00)<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="order_by" maxlength="8" class="textinput textInput" required="" id="id_order_by"> </div> </div> <div id="div_id_order_by" class="control-group"> <label for="id_order_by" class="control-label requiredField">
        <br> Remember to close your order by clicking on this link! (link to edit order status to order closed)
        <br>
        <button type="submit" value="Sign Up">Add</button>
    </form>
</body>
</html>
{% endblock content %}
