<!DOCTYPE html>

{% extends "app/base.html" %}
{% block content %}
{% load static %}
<html>
<body>
    <h2>Add New Individual Order to {{prev.1}} Group Order %s' % ([id]) for {{prev.2}} </h2>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_username" class="control-group"> <label for="id_username" class="control-label requiredField">
        Username<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="username" maxlength="64" class="textinput textInput" required="" id="id_username"> </div> </div> <div id="div_id_username" class="control-group"> <label for="id_username" class="control-label requiredField">
        Item<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="item" maxlength="64" class="textinput textInput" required="" id="id_item"> </div> </div> <div id="div_id_item" class="control-group"> <label for="id_item" class="control-label requiredField">
        <br> View Menu here:
        <br> (Insert Link to Menu)
        Quantity of Item<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="qty" maxlength="32" class="textinput textInput" required="" id="id_qty"> </div> </div> <div id="div_id_qty" class="control-group"> <label for="id_qty" class="control-label requiredField">

        <br>
        <button type="submit" value="Sign Up">Add</button>
    </form>
</body>
</html>
{% endblock content %}
