{% extends "app/basebuyer.html" %}
{% block content %}
{% load static %}
<html>
<style>
.zui-table {
    border: solid 1px #5F788A;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #5F788A;
    border: solid 1px #5F788A;
    color: white;
    padding: 10px;
    text-align: left;
}
.zui-table tbody td {
    border: solid 1px #5F788A;
    color: #333;
    padding: 10px;
}
h2   {
	font: normal 28px Verdana, sans-serif;}
h3   {
	font: normal 24px Verdana, sans-serif;}
	</style>
    <br> <h1>Buyer Statistics</h1>

    <br>
    <h3>Money Saved Per Order</h3>
	
    <body>
	<table class="zui-table">
	<tr>
		<thead>
                        <th>Group Order ID</th>
                        <th>Username</th>
                        <th>Money Saved</th>
     
		</thead>
	</tr>
		{% for order in records %}
	<tr>
		<tbody>
                        <td> {{ order.0 }} </td>
                        <td> {{ order.1 }} </td>
                        <td> {{ order.2 }} </td>
                 
		</tbody>
	</tr>
		{% endfor %}
	</form>
	    </table>
        <br>
        You have saved a total of <strong>${{total}}</strong> by using our app!
	<br>
	<br>

  
	</body>
{% endblock content %}
