<!DOCTYPE html>

{% extends "app/basebuyer.html" %}
{% block content %}

<style>
	h2 {
		font: normal 32px Arial, sans-serif;
	}

	h3 {
		font: normal 20px Arial, sans-serif;
	}
</style>

<body>
	<h3>See the Menu from your Preferred Shop</h3>
	<form method="POST">
		{% csrf_token %}
		<label for="shopname">Shop Name:</label><br>
		<input type="text" name="shopname" placeholder="Insert Shop Name" /><br><br>
		<input type="submit" value="Search!" /><br><br>
	</form>

	<table class="zui-table">
		<tr>
			<thead>
				<th>Shop Name</th>
			</thead>
		</tr>
		{% for index, tuple in shops %}
		<tr>
			<tbody>
				<td> {{tuple[0]}} </td>
				</form>
				</td>
			</tbody>
		</tr>
</body>
{% endfor %}
{% endblock content %}