{% extends "app/basebuyer.html" %}
{% block content %}
{% load static %}
<html>
<style>
.zui-table {
    border: solid 1px #5F788A;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #5F788A;
    border: solid 1px #5F788A;
    color: white;
    padding: 10px;
    text-align: left;
}
.zui-table tbody td {
    border: solid 1px #5F788A;
    color: #333;
    padding: 10px;
}
h2   {
	font: normal 32px Verdana, sans-serif;}
h3   {
	font: normal 20px Verdana, sans-serif;}
	</style>
    
    <br> <h2>Check Order Delivery Status</h2>

	<body>
	<table class="zui-table">
	<tr>
		<thead>
                        <th>Group Order ID</th>
                        <th>Username</th>
                        <th>Hall</th>
                        <th>Shop Name</th>
                        <th>Order Date</th>
                        <th>Order Closing Time</th>
                        <th>Your Total Price (incl delivery)</th>
                        <th>Group Size</th>
                        <th>Delivery Fees Saved</th>
                        <th>Order Status</th>
                        <th></th>
		</thead>
	</tr>
		{% for order in records2 %}
	<tr>
		<tbody>
                        <td> {{ order.0 }} </td>
                        <td> {{ order.1 }} </td>
                        <td> {{ order.2 }} </td>
                        <td> {{ order.3 }} </td>
                        <td> {{ order.4 }} </td>
                        <td> {{ order.5 }} </td>
                        <td> {{ order.6 }} </td>
                        <td> {{ order.7 }} </td>
                        <td> {{ order.8 }} </td>
                        <td> {{ order.9 }} </td>
		</tbody>
	</tr>
		{% endfor %}
	</form>
	</body>
    <br>
{% endblock content %}
