<!DOCTYPE html>

{% extends "app/baseseller.html" %}
{% block content %}
{% load static %}
{% for prev in previous %}
{% endfor %}
<html>
<body>
    <h2>Edit this item!</h2>
    Item: {{ prev.1 }}
    <br>Price: {{ prev.2 }} 

    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_item" class="control-group"> <label for="id_item" class="control-label requiredField">
        Item<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="item" maxlength="64" class="textinput textInput" required="" id="id_item"> </div> </div> <div id="div_id_item" class="control-group"> <label for="id_item" class="control-label requiredField">
        Price<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="price" maxlength="32" class="textinput textInput" required="" id="id_price"> </div> </div> <div id="div_id_price" class="control-group"> <label for="id_price" class="control-label requiredField">

        <br>
        <button type="submit" value="Edit">Edit</button>
    </form>
</body>
</html>

{% endblock content %}
