<!DOCTYPE html>

{% extends "app/basebuyer.html" %}
{% block content %}
{% load static %}
<html>
<body>
    <h2>Edit Order!</h2>
    Username: {{obj.0}}
    <br>Hall: {{obj.1}} 
    <br>Group Order ID: {{obj.2}} 
    <br>Shop Name: {{obj.3}} 
    <br>Item: {{obj.4}}
    <br>Current Quantity: {{obj.5}}
 
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_qty" class="control-group"> <label for="id_qty" class="control-label requiredField">
        New Quantity<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="qty" maxlength="64" class="textinput textInput" required="" id="id_qty"> </div> </div>
        <br>
        <button type="submit" value="edit">Update</button>
    </form>
</body>
</html>
{% endblock content %}
