
   
{% load static %}
<html>
<body>
    <h1>home page lol </h1>
    <img src="{% static 'app/images/supper image.jpg' %}" width="50%"   alt="supper logo"/><br/>
    <br> Hi there! Welcome to HONUSupper- an application for hungry residents from NUS Halls to join group orders where everyone can chip in to lower the delivery fee :D
    <br> <h2>Existing Buyers in HONUSuppers</h2>
    <a href="add">New Buyer? Register here!</a>
    <a href="index">View All Buyers</a>
    <br/><br/>
</body>
</html>
