
<!DOCTYPE html>
{% extends "app/base.html" %}
{% block content %}

{% load static %}
<html>
<body>
    <h2> Join a food order of your choice! </h2> 
    <img src="{% static 'app/images/supper image.jpg' %}" width="120%"   alt="supper logo"/><br/>
    <p> For hungry residents from NUS Halls to join group orders & split delivery fees :D
    </p> 
    <br>
    <h3> As of right now, a total of {{tot_users}} users have saved {{tot_amt}} by using our app! 
        On average, a group order contains approximately <strong>{{avg_users}}</strong>. 
        Each user saves an average of {{avg_order}} on every order. </h3>
    <br>
    <h2>Top users of the month: </h2>
    
</body>
</html>

{% endblock content %}
