
<!DOCTYPE html>
{% extends "app/base.html" %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% load static %}
<html>
<body>
    <h2> Join a food order of your choice! </h2> 
    <img src="{% static 'app/images/supper image.jpg' %}" width="120%"   alt="supper logo"/><br/>
    <p> For hungry residents from NUS Halls to join group orders & split delivery fees :D
    </p> 
</body>
</html>

{% endblock content %}
