
<!DOCTYPE html>
{% extends "app/base.html" %}
{% block content %}

{% load static %}
<html>
<body>
    <h2> Join a food order of your choice! </h2> 
    <img src="{% static 'app/images/supper image.jpg' %}" width="120%"   alt="supper logo"/><br/>
    <p> For hungry residents from NUS Halls to join group orders & split delivery fees :D
    </p> 
    <br>
    <h3> Stats for Geeks </h3>
    <br> As of right now, a total of <strong>{{tot_users}}</strong> users have saved <strong>${{tot_amt}}</strong> by using our app! 
    <br> On average, a group order contains approximately <strong>{{avg_users}}</strong>. 
    <br> Each user saves an average of <strong>${{avg_order}} </strong>on every order.
    <br>
    <h2>Top users of the month: </h2>
    
</body>
</html>

{% endblock content %}
