<!DOCTYPE html>

{% extends "app/basebuyer.html" %}
{% block content %}
{% load static %}
<html>
<body>
    <div class="content-section">
    <h2>Add New Group Order Here</h2>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_group_order_id" class="control-group"> <label for="id_group_order_id" class="control-label requiredField">
        Username: <span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="username" maxlength="64" class="textinput textInput" required="" id="id_username"> </div> </div> <div id="div_id_username" class="control-group"> <label for="id_username" class="control-label requiredField">
        Buyer Hall<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="buyer_hall" maxlength="64" class="textinput textInput" required="" id="id_buyer_hall"> </div> </div> <div id="div_id_buyer_hall" class="control-group"> <label for="id_buyer_hall" class="control-label requiredField">
        Group Order Id: {{group_order_id}} <p> </p>
        Creator Hall<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="creator_hall" maxlength="64" class="textinput textInput" required="" id="id_creator_hall"> </div> </div> <div id="div_id_creator_hall" class="control-group"> <label for="id_creator_hall" class="control-label requiredField">
        Shop Name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="shopname" maxlength="64" class="textinput textInput" required="" id="id_shopname"> </div> </div> <div id="div_id_shopname" class="control-group"> <label for="id_shopname" class="control-label requiredField">
        Item<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="item" maxlength="64" class="textinput textInput" required="" id="id_item"> </div> </div> <div id="div_id_item" class="control-group"> <label for="id_item" class="control-label requiredField">
        Quantity<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="qty" maxlength="64" class="textinput textInput" required="" id="id_qty"> </div> </div> <div id="div_id_qty" class="control-group"> <label for="id_qty" class="control-label requiredField">
        Paid<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="paid" maxlength="64" class="textinput textInput" required="" id="id_paid"> </div> </div> <div id="div_id_paid" class="control-group"> <label for="id_paid" class="control-label requiredField">
        

        <br>
        <button type="submit" value="Add">Add</button>
    </form>
</body>
</html>
{% endblock content %}
