<!DOCTYPE html>

{% extends "app/basebuyer.html" %}
{% block content %}
{% load static %}
<html>
<body>
    <div class="content-section">
    <h2>Add New Individual Order to Group Order {{group_order_id}} Here</h2>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_group_order_id" class="control-group"> <label for="id_group_order_id" class="control-label requiredField">
        Username: {{obj.0}} <p> </p>
        Buyer Hall<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="buyer_hall" value="{{obj.1}} maxlength="64" class="textinput textInput" required="" id="id_buyer_hall"> </div> </div> <div id="div_id_buyer_hall" class="control-group"> <label for="id_buyer_hall" class="control-label requiredField">
        Group Order Id: {{group_order_id}} <p> </p>
        Creator Hall<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="creator_hall" value="{{obj.3}} maxlength="64" class="textinput textInput" required="" id="id_creator_hall"> </div> </div> <div id="div_id_creator_hall" class="control-group"> <label for="id_creator_hall" class="control-label requiredField">
        Shop Name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="shopname" value="{{obj.4}} maxlength="64" class="textinput textInput" required="" id="id_shopname"> </div> </div> <div id="div_id_shopname" class="control-group"> <label for="id_shopname" class="control-label requiredField">
        Item: {{obj.5}}
        Quantity<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="qty" value="{{obj.6}} maxlength="64" class="textinput textInput" required="" id="id_qty"> </div> </div> <div id="div_id_qty" class="control-group"> <label for="id_qty" class="control-label requiredField">
        Paid<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="paid" value="{{obj.7}} maxlength="64" class="textinput textInput" required="" id="id_paid"> </div> </div> <div id="div_id_paid" class="control-group"> <label for="id_paid" class="control-label requiredField">
        

        <br>
        <button type="submit" value="Update">Update</button>
    </form>
</body>
</html>
{% endblock content %}
