<!DOCTYPE html>

{% extends "app/baseadmin.html" %}
{% block content %}
{% load static %}
<html>
<body>
    <div class="content-section">
    <h2>Update {{obj.0}} Individual Order from Group Order {{group_order_id}} Here</h2>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_group_order_id" class="control-group"> <label for="id_group_order_id" class="control-label requiredField">
        Username: {{obj.0}} <p> </p>
        Buyer Hall: {{obj.1}} <p> </p>
        Group Order Id: {{obj.3}} <p> </p>
        Shop Name: {{obj.4}} <p> </p>
        Item: {{obj.5}} <p> </p>
        Quantity<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="qty" value="{{obj.6}}" maxlength="64" class="textinput textInput" required="" id="id_qty"> </div> </div> <div id="div_id_qty" class="control-group"> <label for="id_qty" class="control-label requiredField">
        Paid<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="paid" value="{{obj.7}}" maxlength="64" class="textinput textInput" required="" id="id_paid"> </div> </div> <div id="div_id_paid" class="control-group"> <label for="id_paid" class="control-label requiredField">
        

        <br>
        <button type="submit" value="Update">Update</button>
    </form>
</body>
</html>
{% endblock content %}
