<!DOCTYPE html>

{% extends "app/base.html" %}
{% block content %}

<style>
h2   {
	font: normal 32px Arial, sans-serif;
}
h3 {
 font: normal 20px Arial, sans-serif;
}
</style>

	<body>
	<h2>If you are a passenger</h2>
	<form action="ride" method = "GET">
		<label for="origin">Origin:</label><br>
		<input type="text" name="origin" placeholder="Insert Origin"><br>
		<label for="destination">Destination:</label><br>
		<input type="text" name="destination" placeholder="Insert Destination"><br><br>
		<input type="submit" value="Find Ride!"><br><br>
	</form>	
	<h2>If you are a shop owner</h2>
	<h3>Edit your menu</h3>
	<form action="seller_menu" method = "GET">
		<label for="shopname">Shop Name:</label><br>
		<input type="text" name="shopname" placeholder="Insert Shop Name"/><br><br>
		<input type="submit" value="Search!"/><br><br>
	</form>	
	<h3>See open orders for your shop</h3>
	<form action="sellerindex" method = "GET">
		<label for="shopname">Shop Name:</label><br>
		<input type="text" name="shopname" placeholder="Insert Shop Name"/><br><br>
		<input type="submit" value="Search!"/><br><br>
	</form>	
	
</form>
	</form>
	</body>
		

{% endblock content %}
