{% extends "app/basebuyer.html" %}
{% block content %}
{% load static %}
<html>
<style>
.zui-table {
    border: solid 1px #5F788A;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #5F788A;
    border: solid 1px #5F788A;
    color: white;
    padding: 10px;
    text-align: left;
}
.zui-table tbody td {
    border: solid 1px #5F788A;
    color: #333;
    padding: 10px;
}
h2   {
	font: normal 32px Verdana, sans-serif;}
h3   {
	font: normal 20px Verdana, sans-serif;}
	</style>
    
    
    <p> 
    </p>
    
    <br>
    <img src="{% static 'app/images/supper image.jpg' %}" width="50%"   alt="supper logo"/><br/>
    
    <br/>

    <h2>See Orders from your Preferred Shop</h2>
	<form method="POST">
        {% csrf_token %}
		<label for="shopname">Shop Name:</label><br>
		<input type="text" name="shopname" placeholder="Insert Shop Name:"/><br><br>
		<input type="submit" value="Filter"/><br><br>
	</form>	
	
</form>
    <h2>Existing Open Orders</h2>
	<body>
	<table class="zui-table">
	<tr>
		<thead>
                        <th>Group Order ID</th>
                        <th>Creator's Username</th>
                        <th>Hall</th>
                        <th>Shop Name</th>
                        <th>Order Date</th>
                        <th>Order Closing Time</th>
                        <th>Order Status</th>
                        <th>Shop Delivery Fee</th>
                        <th>Group Size</th>
                        <th>Delivery Fee Per User</th>
                        <th>Action</th>
		</thead>
	</tr>
		{% for order in records %}
	<tr>
		<tbody>
                        <td> {{ order.0 }} </td>
                        <td> {{ order.1 }} </td>
                        <td> {{ order.2 }} </td>
                        <td> {{ order.3 }} </td>
                        <td> {{ order.4 }} </td>
                        <td> {{ order.5 }} </td>
                        <td> {{ order.6 }} </td>
                        <td> {{ order.7 }} </td>
                        <td> {{ order.8 }} </td>
                        <td> {{ order.9 }} </td>
                        <td>
                <a href="/addindivorder/{{order.0}}"><button>Join Group Order</button></a>
                <a href="/seller_orderid/{{order.0}}"><button>Edit</button></a>
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="un" value="{{order.0}}"/>
              </form></td>
		</tbody>
	</tr>
		{% endfor %}
	</form>
		</table>


</form>

	<br> <h2>Create New Group Order</h2>
    Don't see a group order from your hall to the restaurant your are eyeing? 
    <br> <a href="/addgrouporder/{{ username }}">Click to start new group order! </a> 

<h2> Group Orders Created By You </h2>

	<table class="zui-table">
	<tr>
		<thead>
                        <th>Group Order ID</th>
                        <th>Creator's Username</th>
                        <th>Hall</th>
                        <th>Shop Name</th>
                        <th>Order Date</th>
                        <th>Order Closing Time</th>
                        <th>Order Status</th>
                        <th>Action</th>
		</thead>
	</tr>
		{% for order in records2 %}
	<tr>
		<tbody>
                        <td> {{ order.0 }} </td>
                        <td> {{ order.1 }} </td>
                        <td> {{ order.2 }} </td>
                        <td> {{ order.3 }} </td>
                        <td> {{ order.6 }} </td>
                        <td> {{ order.7 }} </td>
                        <td> {{ order.8 }} </td>
                        <td>
                <a href="addindivorder/{{order.0}}"><button>Submit</button></a>
                <a href="seller_orderid/{{order.0}}"><button>Edit</button></a>
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="un" value="{{order.0}}"/>
              </form></td>
		</tbody>
	</tr>
		{% endfor %}
	</form>
</table>
	</body>
    <br>
{% endblock content %}
