{% extends "app/basebuyer.html" %}
{% block content %}
{% load static %}
<html>
<style>
.zui-table {
    border: solid 1px #5F788A;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #5F788A;
    border: solid 1px #5F788A;
    color: white;
    padding: 10px;
    text-align: left;
}
.zui-table tbody td {
    border: solid 1px #5F788A;
    color: #333;
    padding: 10px;
}
h2   {
	font: normal 32px Arial, sans-serif;}
h3   {
	font: normal 20px Arial, sans-serif;}
	</style>
    <!--<h1>Existing Open Orders</h1>-->
    <br> <h2>Create New Group Order</h2>
    Don't see a group order from your hall to the restaurant your are eyeing? 
    <a href="addgrouporder">Click to start new group order! </a> 
    
    <p> 
    </p>
    
    <br>
    <img src="{% static 'app/images/supper image.jpg' %}" width="50%"   alt="supper logo"/><br/>
    
    <br/>

    <h2>See Orders from your Preferred Shop</h2>
	<form action="seller_menu" method = "GET">
		<label for="hall">Hall:</label><br>
		<input type="text" name="hall" placeholder="Insert Hall:"/><br><br>
		<label for="shopname">Shop Name:</label><br>
		<input type="text" name="shopname" placeholder="Insert Shop Name:"/><br><br>
		<input type="submit" value="Filter"/><br><br>
	</form>	
	
</form>

	<body>
	<table class="zui-table">
	<tr>
		<thead>
                        <th>Group Order ID</th>
                        <th>Creator's Username</th>
                        <th>Hall</th>
                        <th>Shop Name</th>
                        <th>Order Date</th>
                        <th>Order Closing Time</th>
                        <th>Order Status</th>
                        <th>Action</th>
		</thead>
	</tr>
		{% for order in records %}
	<tr>
		<tbody>
                        <td> {{ order.0 }} </td>
                        <td> {{ order.1 }} </td>
                        <td> {{ order.2 }} </td>
                        <td> {{ order.3 }} </td>
                        <td> {{ order.6 }} </td>
                        <td> {{ order.7 }} </td>
                        <td> {{ order.8 }} </td>
                        <td>
                <a href="addindivorder/{{order.0}}"><button>Join Group Order</button></a>
                <a href="seller_orderid/{{order.0}}"><button>Edit</button></a>
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="un" value="{{order.0}}"/>
              </form></td>
		</tbody>
	</tr>
		{% endfor %}
	</form>
	</body>
{% endblock content %}
