<!DOCTYPE html>

{% extends "app/baseadmin.html" %}
{% block content %}
{% load static %}
<html>
<body>
    <div class="content-section">
    <h2>Update Group Order {{obj.0}} Here</h2>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_group_order_id" class="control-group"> <label for="id_group_order_id" class="control-label requiredField">
        Creator<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="creator" value="{{obj.1}}" maxlength="64" class="textinput textInput" required="" id="id_creator"> </div> </div> <div id="div_id_creator" class="control-group"> <label for="id_creator" class="control-label requiredField">
        Hall: {{obj.2}}
        Shop Name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="shopname" value="{{obj.3}}"maxlength="64" class="textinput textInput" required="" id="id_shopname"> </div> </div> <div id="div_id_shopname" class="control-group"> <label for="id_shopname" class="control-label requiredField">
        Opening: {{obj.4}}
        Closing: {{obj.5}}
        Order Date<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="order_date" value="{{obj.6}}" maxlength="64" class="textinput textInput" required="" id="id_order_date"> </div> </div> <div id="div_id_order_date" class="control-group"> <label for="id_order_date" class="control-label requiredField">
        Order By<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="order_by" value="{{obj.7}}" maxlength="64" class="textinput textInput" required="" id="id_order_by"> </div> </div> <div id="div_id_order_by" class="control-group"> <label for="id_order_by" class="control-label requiredField">
        Delivery Status<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="delivery_status" value="{{obj.8}}"maxlength="64" class="textinput textInput" required="" id="id_delivery_status"> </div> </div> <div id="div_id_delivery_status" class="control-group"> <label for="id_delivery_status" class="control-label requiredField">
        

        <br>
        <button type="submit" value="Update">Update</button>
    </form>
</body>
</html>
{% endblock content %}
