<!DOCTYPE html>

{% extends "app/base.html" %}
{% block content %}
{% load static %}
<html>
<body>
    <h2>Edit Delivery Status!</h2>
    Group Order ID: {{prev.0}}
    <br>Hall: {{prev.2}} 
    <br>Order Closing Time: {{prev.7}} 
    <br>Order Creator: {{prev.1}} 
    <br>Current Order Status: {{prev.8}}
    <br>
    <br>Available Order Status: Order Closed and Received, Vendor Preparing, Food Dispatched, Food Delivered

    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_delivery_status" class="control-group"> <label for="id_delivery_status" class="control-label requiredField">
        Order Status<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="delivery_status" maxlength="64" class="textinput textInput" required="" id="id_delivery_status"> </div> </div> <div id="div_id_delivery_status" class="control-group"> <label for="id_delivery_status" class="control-label requiredField">

        <br>
        <button type="submit" value="edit">Edit</button>
    </form>
</body>
</html>
{% endblock content %}
