<!DOCTYPE html>

{% extends "app/baseseller.html" %}
{% block content %}

<style>
h2   {
	font: normal 32px Arial, sans-serif;
}
h3 {
 font: normal 20px Arial, sans-serif;
}
</style>

	<body>
	<h3>Edit your menu</h3>
	<form action="seller_menu" method = "GET">
		<label for="shopname">Shop Name:</label><br>
		<input type="text" name="shopname" placeholder="Insert Shop Name"/><br><br>
		<input type="submit" value="Search!"/><br><br>
	</form>	
	<h3>See open orders for your shop</h3>
	<form action="sellerindex" method = "GET">
		<label for="shopname">Shop Name:</label><br>
		<input type="text" name="shopname" placeholder="Insert Shop Name"/><br><br>
		<input type="submit" value="Search!"/><br><br>
	</form>	
	
</form>
	</form>
	</body>
		

{% endblock content %}
