{% block content %}
	<style>
.zui-table {
    border: solid 1px #5F788A;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #5F788A;
    border: solid 1px #5F788A;
    color: white;
    padding: 10px;
    text-align: left;
}
.zui-table tbody td {
    border: solid 1px #5F788A;
    color: #333;
    padding: 10px;
}
h2   {
	font: normal 32px Arial, sans-serif;}
h3   {
	font: normal 20px Arial, sans-serif;}
	</style>
	<h2>Current Orders
	</h2>
	<body>
	<table class="zui-table">
	<tr>
		<thead>
			<th>Order Id</th>
			<th>Customer Username</th>
			<th>Hall</th>
			<th>Bid Price</th>
		</thead>
	</tr>
		{% for r in records %}
	<tr>
		<tbody>
			<td> {{ r.0 }} </td>
			<td> {{ r.1 }} </td>
			<td> {{ r.2 }} </td>
			<td> {{ r.3 }} </td>
		</tbody>
	</tr>
		{% endfor %}
	</form>
	</body>
{% endblock content %}