<!DOCTYPE html>

{% extends "app/basebuyer.html" %}
{% block content %}
{% load static %}
<html>
<body>
    <h2>Submit Group Order!</h2>
    Group Order ID: {{group_order_id}}
    <br>Hall: {{prev.2}} 
    <br>Order Closing Time: {{prev.7}} 
    <br>Order Creator: {{prev.1}} 
    <br>Current Order Status: {{prev.8}}
    <br>
    <br>Available Order Status: Order Closed

    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <button type="submit" value="edit">Close & Submit Order</button>
    </form>
</body>
</html>
{% endblock content %}
