<!DOCTYPE html>

{% extends "app/basebuyer.html" %}
{% block content %}
{% load static %}
<html>
<body>
    <br>
    <h2>Top Up Wallet</h2>
    Username: {{prev.0}} 
    <br>Existing Balance: {{prev.6}}

    <br> Scan QR Code below to Top Up Wallet:
    <br> <img src="{% static 'app/images/qrcode.jpg' %}" width="30%"   alt="qrcode"/><br/>

    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div username="div_id_wallet_balance" class="control-group"> <label for="id_wallet_balance" class="control-label requiredField">
        Top-Up Amount:
        <br> Ensure your wallet has at least $5 even after payment!
            <span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="wallet_balance" value="{{prev.8}}" maxlength="64" class="textinput textInput" required="" username="id_wallet_balance"> </div> </div>
        <button type="submit" value="update">Update</button>
    </form>
</body>
</html>
{% endblock content %}
