<!DOCTYPE html>

{% extends "AppCarPool/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Database Registration</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register into Database</button>
            </div>
        </form>
    </div>
{% endblock content %}