{% extends "app/base.html" %}
{% block content %}
{% load static %}
<html>
<body>
    <!--<h1>Existing Open Orders</h1>-->
    <img src="{% static 'app/images/supper image.jpg' %}" width="50%"   alt="supper logo"/><br/>
    <br> <h1>Item(s) ordered</h1>
    Here's a list of all items you ordered. 
    <br>
    <br> <h3> Add more items</h3>
    <a href="/addindivorder/{{records.2}}"><button>Add</button></a>
    <br/><br/>
    <table border=1>
        <thead>
            <th>Username</th>
            <th>Hall</th>
            <th>Group Order ID</th>
            <th>Shop Name</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Action</th>
        </thead>
        {% for order in records %}
        <tr>
            <td> {{ order.0 }} </td>
            <td> {{ order.1 }} </td>
            <td> {{ order.2 }} </td>
            <td> {{ order.4 }} </td>
            <td> {{ order.5 }} </td>
            <td> {{ order.6 }} </td>
            <td> {{ order.7 }} </td>
            <td> 
                <a href="edit/{{cust.0}}"><button>Edit</button></a>
                
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="un" value="{{order.0}}"/>
                <button onclick="return confirm('Are you sure you want to delete {{order.0}}?');" type="submit" name="action" value="delete">Delete</button> 
              </form></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <br> Click here to find your total cost (with delivery fee)
    <br> Insert Link --> Aggregate SQL Query 
</body>
</html>

{% endblock content %}
