{% extends "app/basebuyer.html" %}
{% block content %}
{% load static %}
<style>
.zui-table {
    border: solid 1px #5F788A;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #5F788A;
    border: solid 1px #5F788A;
    color: white;
    padding: 10px;
    text-align: left;
}
.zui-table tbody td {
    border: solid 1px #5F788A;
    color: #333;
    padding: 10px;
}
h1   {
	font: normal 36px Verdana, sans-serif;}
h2   {
	font: normal 32px Verdana, sans-serif;}
h3   {
	font: normal 20px Verdana, sans-serif;}
	</style>
<html>
<body>
    <p style="color:red">{{ status|safe }}</p>
    <!--<h1>Existing Open Orders</h1>-->
    <img src="{% static 'app/images/supper image.jpg' %}" width="50%"   alt="supper logo"/><br/>
    <br> <h1>Item(s) ordered</h1>
	<h3>Here's a list of all items you ordered. </h3>
    Click to
    
    <a href="/addindivorder/{{groupid}}"><button>Add</button></a> more items
    <form method="POST" style="display: inline;">
    {% csrf_token %}
    <input type="hidden" name="grpid" value="grpid" />
   </form></td>
    <br/><br/>
    <table class="zui-table">
	<tr>
		<thead>
            <th>Username</th>
            <th>Hall</th>
            <th>Group Order ID</th>
            <th>Shop Name</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price Per Item</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Action</th>
		</thead>
	</tr>
		{% for order in records %}
	<tr>
		<tbody>
            <td> {{ order.0 }} </td>
            <td> {{ order.1 }} </td>
            <td> {{ order.2 }} </td>
            <td> {{ order.3 }} </td>
            <td> {{ order.4 }} </td>
            <td> {{ order.5 }} </td>
            <td> {{ order.6 }} </td>
            <td> {{ order.7 }} </td>
            <td> {{ order.8 }} </td>
			<td>

                <a href="edit/{{order.0}}"><button>Edit</button></a>
                
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{order.0}}"/>
                <button onclick="return confirm('Are you sure you want to delete {{order.5}} {{order.4}}?');" type="submit" name="action" value="delete">Delete</button> 
              </form></td>
        </tbody>
        </tr>
        {% endfor %}
	    </form> 
	</table>
    <br> <h1>Current Order Total Price</h1>
    Kindly only click the 'Pay' button during the order closing time and when you have finished adding all your orders.
    <table class="zui-table">
	<tr>
		<thead>
            <th>Username</th>
            <th>Group Order ID</th>
            <th>Order Total</th>
            <th>Shop Delivery Fee</th>
            <th>Group Size</th>
            <th>Delivery Fee Per User</th>
            <th>Total Price (incl. Delivery)</th>
            <th>Delivery Status</th>
            <th>Action</th>
		</thead>
	</tr>
		{% for order in records2 %}
	<tr>
		<tbody>
            <td> {{ order.0 }} </td>
            <td> {{ order.1 }} </td>
            <td> {{ order.2 }} </td>
            <td> {{ order.3 }} </td>
            <td> {{ order.4 }} </td>
            <td> {{ order.5 }} </td>
            <td> {{ order.6 }} </td>
            <td> {{ order.7 }} </td>
			<td>

                <p style="color:red">{{ status|safe }}</p>
                <form method="POST" style="display: inline;">
                {% csrf_token %}
	        {{form.as_p}}
                <input type="hidden" name="curgrp" value="{{order.1}}"/> 
                <input type="hidden" name="totals" value="{{order.6}}"/>  
                <button onclick="return confirm('Confirm purchase?');" type="submit" name="action" value="deduct">Pay!</button> 
                </form></td>

        </tbody>
        </tr>
        {% endfor %}
	    
	</table>
    <br>
    <h3>Wallet Balance</h3>
    Ensure that your wallet has sufficient balance.
    <a href="/topup/{{username}}">Click to Top-Up wallet.</a>
    <br>Existing Balance: {{prev.6}}


    <br>
    <br>
    <br> 
    <br>
</body>
</html>

{% endblock content %}
